body {
     font-family: "Chewy", system-ui;
     font-size: 2em;
     margin: 0;
     text-align: center;
     color: white;
     background-image: linear-gradient(180deg, #ff6a6a, #FF9A8B);
     background-size:100% ;
     background-repeat:no-repeat;
     background-color: #FF9A8B;
}
h3 {
      font-family: "Quicksand", sans-serif;
      font-size: 0.7em;
      font-weight: 600;
      padding: 0px 100px;
      margin-bottom: 45px;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
 }
 h1 {
      margin-bottom: 0;
 }
  @media screen and (max-width: 850px){
     h3 {
          padding: 0px 50px;
     }

 } 
